.module {
	position: relative;

	&--loading {
		min-height: 210px;
	}
}

.module-preloader {
	background-color: $color-white;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 2.5rem;
	justify-content: center;
	position: absolute;
	z-index: 1337;
	padding: 1rem;
	box-sizing: border-box;

	&--dark {
		background-color: $color-black;
		color: $color-white;
	}

	&--style-preschool {
		z-index: 0;
		font-family: var(--font-serif-preschool);
	}

	&--has-error {
		position: static;
	}

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.dot1, .dot2, .dot3 {
		animation-name: dots;
		animation-duration: 2s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;

		@keyframes dots {
			0% {
				opacity: 1;
			}

			40% {
				opacity: 0;
			}

			60% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}
	}

	.dot1 {
		animation-delay: 0s;
	}

	.dot2 {
		animation-delay: 0.5s;
	}

	.dot3 {
		animation-delay: 1s;
	}
}
